.mdi-alert-circle::before { content: "\F0028"; }
.mdi-arrow-down::before { content: "\F0045"; }
.mdi-arrow-up::before { content: "\F005D"; }
.mdi-brightness-4::before { content: "\F00DD"; }
.mdi-checkbox-blank-outline::before { content: "\F0131"; }
.mdi-checkbox-marked::before { content: "\F0132"; }
.mdi-chevron-down::before { content: "\F0140"; }
.mdi-chevron-left::before { content: "\F0141"; }
.mdi-chevron-right::before { content: "\F0142"; }
.mdi-chevron-up::before { content: "\F0143"; }
.mdi-clock-outline::before { content: "\F0150"; }
.mdi-close::before { content: "\F0156"; }
.mdi-close-circle::before { content: "\F0159"; }
.mdi-lightbulb-on-10::before { content: "\F1A4E"; }
.mdi-lock::before { content: "\F033E"; }
.mdi-menu::before { content: "\F035C"; }
.mdi-menu-down::before { content: "\F035D"; }
.mdi-menu-left::before { content: "\F035E"; }
.mdi-menu-right::before { content: "\F035F"; }
.mdi-menu-up::before { content: "\F0360"; }
.mdi-page-first::before { content: "\F0600"; }
.mdi-page-last::before { content: "\F0601"; }
.mdi-server-network::before { content: "\F048D"; }
.mdi-star::before { content: "\F04CE"; }
.mdi-star-half-full::before { content: "\F04D0"; }
.mdi-star-outline::before { content: "\F04D2"; }
.mdi-theme-light-dark::before { content: "\F050E"; }
.mdi-transfer-down::before { content: "\F0DA1"; }
.mdi-translate::before { content: "\F05CA"; }
